.ipynb_checkpoints
Informe/Bibliografia
Informe/Portada/portada.aux
Informe/Resumen/resumen.aux
Informe/Proyecto/proyecto.aux
Informe/Main.aux
Informe/Main.bbl
Informe/Main.blg
Informe/Main.log
Informe/Main.out
Informe/Main.toc
Informe/Main.synctex.gz
input/data